html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  
  fill:#b4e9fd
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.mapdiv{
  height: 100vh;
}

.markerpointer{
  cursor: pointer;
}

.detailsCont{
  padding: 10px;
  margin: 10px;
  background-color: aquamarine;
  border: 1px solid #333;
  border-radius: 10px;
}

.detailsCont h1{
  text-align: center;
  font-size: 32px;
}

.detailsCont p{
  font-size: 20px;
}

.colordetail{
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.colordetail p{
  font-size: 12px;
}

.colordetail p:first-child{
  font-size: 16px;
  font-weight: 600;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail div{
  width: 10px;
  height: 10px;
}

.color1{
  background-color: #C23A3A;
}

.color2{
  background-color: #4092C1;
}

.color3{
  background-color: #49178D;
}

